services:
  postgresql:
    image: postgres:18-alpine
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - postgresql:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    ports:
      - 54320:80
    env_file:
      - .env
    volumes:
      - pgadmin:/var/lib/pgadmin


volumes:
  postgresql:
  pgadmin: